# ImageKit.io Configuration
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/8mmiwepdm
IMAGEKIT_PRIVATE_KEY=private_b+M2ZCmKZE5jiOerRa55C8K6L3s=
IMAGEKIT_PUBLIC_KEY=public_tIQeo/NJUO755Hty+H2CZZpoOVE=

# Server Configuration
PORT=5000
DATABASE_URL=postgresql://neondb_owner:npg_Yl6Wh4cDTQtr@ep-falling-voice-aoxdtz8o-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Admin Credentials
ADMIN_PHONE=+631234567890

#
VITE_API_BASE_URL=https://allblue.rowimaytamayo.com

# JWT settings for httpOnly cookie auth

JWT_SECRET=89c1013f5e454d8e8238f50700ba1e6f79f25d465a49847028339ee6949a0f7277a432892726507df1c5afbb
JWT_EXPIRES_IN=1d
JWT_MAX_AGE_MS=86400000
